.errorPageWrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.errorPageWrapper img {
    width: 250px;
    margin-bottom: 50px;
}

.errorPageWrapper p {
    color: #505050;
    font-family: 'Inter', sans-serif;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeButton {
    margin-top: 30px;
    width: 50px;
}

.homeButton:hover {
    opacity: 60%;
}

@media (max-width: 768px) {
    .errorPageWrapper p {
        font-size: 14px;
    }
}