.taskWrapper span {
    padding: 0 5px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: black;
}

.taskWrapper input {
    padding: 0 5px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: black;
}

.taskWrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.checked {
    text-decoration: line-through;
}