.titleAndButtonWrapper span {
    text-transform: uppercase;
    font-size: 18px;
    word-break: break-word;
    color: black;
    font-weight: 600;
}

.titleAndButtonWrapper input {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    max-width: 190px;
}

.titleAndButtonWrapper {
    display: flex;
    justify-content: space-between;
}

.titleAndDateWrapper {
    display: flex;
    flex-direction: column;
}

.date {
    color: #C4C4C4;
    font-size: 12px;
    font-family: 'Abel', sans-serif;
}

.titleAndButtonWrapper img {
    width: 14px;
    height: 14px;
}

.todoCardWrapper {
    background: #FFFFFF;
    border: 2px solid #E7E7E7;
    border-radius: 5px;
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;

/*ТЕНЬ*/
}

/*.filterWrapper {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    bottom: -2px;
    left: 0;
}

.filterWrapper div {
    min-width: 76px;
    border-radius: 5px;
    border: 2px solid #E7E7E7;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
}*/

@media (max-width: 1139px) {
    .todoCardWrapper {
        min-width: 300px;
    }
}

@media (max-width: 1020px) {
    .todoCardWrapper {
        min-width: 400px;
    }
}

@media (max-width: 903px) {
    .todoCardWrapper {
        min-width: 350px;
    }
}

@media (max-width: 804px) {
    .todoCardWrapper {
        min-width: 300px;
    }
}

@media (max-width: 703px) {
    .todoCardWrapper {
        min-width: 250px;
    }
}

@media (max-width: 603px) {
    .todoCardWrapper {
        min-width: 230px;
        width: 100%;
    }
}




