.todoTitle {
    text-transform: uppercase;
    font-size: 18px;
    word-break: break-word;
    margin: 0;
}

.titleAndButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleAndDateWrapper {
    display: flex;
    flex-direction: column;
}

.date {
    color: #C4C4C4;
    font-size: 12px;
    font-family: 'Abel', sans-serif;
}

.titleAndButtonWrapper img {
    width: 14px;
    height: 14px;
}

.todoCardWrapper {
    background: #FFFFFF;
    border: 2px solid #E7E7E7;
    border-radius: 5px;
    width: 250px;
    padding:20px;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;

/*ТЕНЬ*/
}

.filterWrapper {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    bottom: -2px;
    left: 0;
}

.filterWrapper div {
    min-width: 76px;
    border-radius: 5px;
    border: 2px solid #E7E7E7;
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
}

@media (max-width: 598px) {
    .todoCardWrapper {
        min-width: 230px;
        width: 100%;
    }
}



