.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0 35px;
    margin: 0 auto;
}

.wrap {
    min-height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
}